body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: burlywood;
}

.inicio {
    display: flex;
    height: 100vh;
}.foto {
	flex: 1;
	background-color: rgb(62, 166, 170);
	display: flex;
	align-items: center;
	justify-content: center
}

.foto img {
	width: 300px;
	height: auto;
	border-radius: 8px;
}
